/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  D  |  R   |  W   |  B   |                   |  J   |  F    |  U    |  P   |   ;   |   -   |
// |  CTRL |  A  |  S  |  H   |  T   |  G   |                   |  Y   |  N    |  E    |  O   |   I   |   '   |
// | SHIFT |  Z  |  X  |  M   |  C   |  V   |   "["  |  |  "]"  |  K   |  L    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  |LOWER | LGUI  |  SPACE |  | BSPC  | ENTER| RAISE | RGUI  |
            display-name = "Base";
            bindings = <
&kp ESC             &ht_tp LS(N1) N1  &ht_tp LS(N2) N2  &ht_tp LS(N3) N3  &ht_tp LS(N4) N4  &ht_tp LS(N5) N5                                            &ht_tp LS(N6) N6  &ht_tp LS(N7) N7  &ht_tp LS(N8) N8       &ht_tp LS(N9) N9   &ht_tp LS(N0) N0     &ht_tp LS(GRAVE) GRAVE
&ht_tp LS(TAB) TAB  &ht_tp LS(Q) Q    &ht_tp LS(W) W    &ht_tp LS(R) R    &ht_tp LS(W) W    &ht_tp LS(B) B                                              &ht_tp LS(J) J    &ht_tp LS(F) F    &ht_tp LS(U) U         &ht_tp LS(P) P     &ht_tp LS(SEMI) SEMI &ht_tp LS(MINUS) MINUS
&kp LCTRL           &ht_tp LS(A) A    &ht_tp LS(S) S    &ht_tp LS(H) H    &ht_tp LS(T) T    &ht_tp LS(G) G                                              &ht_tp LS(Y) Y    &ht_tp LS(N) N    &ht_tp LS(E) E         &ht_tp LS(O) O     &ht_tp LS(I) I       &ht_tp LS(SQT) SQT
&kp LSHFT           &ht_tp LS(Z) Z    &ht_tp LS(X) X    &ht_tp LS(M) M    &ht_tp LS(C) C    &ht_tp LS(V) V  &ht_tp LS(LBKT) LBKT   &ht_tp LS(RBKT) RBKT &ht_tp LS(K) K    &ht_tp LS(L) L    &ht_tp LS(COMMA) COMMA &ht_tp LS(DOT) DOT &ht_tp LS(FSLH) FSLH &kp RSHFT
                       &kp LALT &mo 1  &kp LGUI &kp SPACE  &kp BSPC &kp RET  &mo 2  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//                     |      |      |      |        |  |       |      |       |       |
            display-name = "Lower";
            bindings = <
&bt BT_CLR &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4                 &trans    &trans    &trans          &trans    &trans    &trans
&kp F1     &kp F2           &kp F3            &kp F4            &kp F5       &kp F6                       &kp F7    &kp F8    &kp F9          &kp F10   &kp F11   &kp F12
&kp GRAVE  &kp EXCL         &kp AT            &kp HASH          &kp DOLLAR   &kp PRCNT                    &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR  &kp RPAR  &kp TILDE
&trans     &trans           &trans            &trans            &trans       &trans    &trans   &trans    &trans    &kp MINUS &kp KP_PLUS     &kp LBRC  &kp RBRC  &kp PIPE
                                              &trans            &trans       &trans    &trans   &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
// |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
//                     |      |      |      |        |  |       |      |       |       |
            display-name = "Raise";
            bindings = <
&trans    &trans &trans &trans  &trans  &trans                       &trans      &trans    &trans    &trans   &trans    &trans
&kp GRAVE &kp N1 &kp N2 &kp N3  &kp N4  &kp N5                       &kp N6      &kp N7    &kp N8    &kp N9   &kp N0    &trans
&kp F1    &kp F2 &kp F3 &kp F4  &kp F5  &kp F6                       &trans      &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &trans
&kp F7    &kp F8 &kp F9 &kp F10 &kp F11 &kp F12   &trans   &trans    &kp KP_PLUS &kp MINUS &kp EQUAL &kp LBKT &kp RBKT  &kp BSLH
                        &trans  &trans  &trans    &trans   &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
